<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="nomeCurso">
	{$nomeCurso_editcontrol}
	</control>
	<control field="nomeCoordenador">
	{$nomeCoordenador_editcontrol}
	</control>
	<control field="cursoCoordenador">
	{$cursoCoordenador_editcontrol}
	</control>
	<control field="fotoCoordenador">
	{$fotoCoordenador_editcontrol}
	</control>
	<control field="descCoordenador">
	{$descCoordenador_editcontrol}
	</control>
	<control field="telefoneCoordenador">
	{$telefoneCoordenador_editcontrol}
	</control>
	<control field="emailCoordenador">
	{$emailCoordenador_editcontrol}
	</control>
	<control field="unidadeCoordenador">
	{$unidadeCoordenador_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>