<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_searchpage}
<div {$searchpage_chiddenattr} data-pageid="{$pageid}" data-container="searchpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-6 col-md-offset-3"> 

{BEGIN searchheader}
	<h2 {$bssearchheader_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchheader" >{$pagetitlelabel tbl_coordenador search}</h2>

{END searchheader}



</div>
{END container_header}






</div>
{END container_searchpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="   col-md-12 "> 


<div {$bssearchfields_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchfields" class="form-horizontal" role="form">
<div class="container">
	<div class="form-group">
		<div class="col-md-12" >
			&nbsp;
		</div>
	</div>
</div>
	{BEGIN fotoCoordenador_fieldblock}		
	<div class="container {$fielddispclass_fotoCoordenador}" data-fieldname="fotoCoordenador">
		<div class="form-group">
			<div class="col-md-2">
				{$label tbl_coordenador fotoCoordenador}
			</div>
			<div class="col-md-2" >
				{$searchtype_fotoCoordenador}
			</div>
			<div class="col-md-4" >
				{$fotoCoordenador_editcontrol}
			</div>
			<div class="col-md-4" >
				{$fotoCoordenador_editcontrol1}
			</div>
		</div>
	</div>
{END fotoCoordenador_fieldblock}
	{BEGIN descCoordenador_fieldblock}		
	<div class="container {$fielddispclass_descCoordenador}" data-fieldname="descCoordenador">
		<div class="form-group">
			<div class="col-md-2">
				{$label tbl_coordenador descCoordenador}
			</div>
			<div class="col-md-2" >
				{$searchtype_descCoordenador}
			</div>
			<div class="col-md-4" >
				{$descCoordenador_editcontrol}
			</div>
			<div class="col-md-4" >
				{$descCoordenador_editcontrol1}
			</div>
		</div>
	</div>
{END descCoordenador_fieldblock}
	{BEGIN telefoneCoordenador_fieldblock}		
	<div class="container {$fielddispclass_telefoneCoordenador}" data-fieldname="telefoneCoordenador">
		<div class="form-group">
			<div class="col-md-2">
				{$label tbl_coordenador telefoneCoordenador}
			</div>
			<div class="col-md-2" >
				{$searchtype_telefoneCoordenador}
			</div>
			<div class="col-md-4" >
				{$telefoneCoordenador_editcontrol}
			</div>
			<div class="col-md-4" >
				{$telefoneCoordenador_editcontrol1}
			</div>
		</div>
	</div>
{END telefoneCoordenador_fieldblock}
	{BEGIN emailCoordenador_fieldblock}		
	<div class="container {$fielddispclass_emailCoordenador}" data-fieldname="emailCoordenador">
		<div class="form-group">
			<div class="col-md-2">
				{$label tbl_coordenador emailCoordenador}
			</div>
			<div class="col-md-2" >
				{$searchtype_emailCoordenador}
			</div>
			<div class="col-md-4" >
				{$emailCoordenador_editcontrol}
			</div>
			<div class="col-md-4" >
				{$emailCoordenador_editcontrol1}
			</div>
		</div>
	</div>
{END emailCoordenador_fieldblock}
	{BEGIN unidadeCoordenador_fieldblock}		
	<div class="container {$fielddispclass_unidadeCoordenador}" data-fieldname="unidadeCoordenador">
		<div class="form-group">
			<div class="col-md-2">
				{$label tbl_coordenador unidadeCoordenador}
			</div>
			<div class="col-md-2" >
				{$searchtype_unidadeCoordenador}
			</div>
			<div class="col-md-4" >
				{$unidadeCoordenador_editcontrol}
			</div>
			<div class="col-md-4" >
				{$unidadeCoordenador_editcontrol1}
			</div>
		</div>
	</div>
{END unidadeCoordenador_fieldblock}
	{BEGIN nomeCurso_fieldblock}		
	<div class="container {$fielddispclass_nomeCurso}" data-fieldname="nomeCurso">
		<div class="form-group">
			<div class="col-md-2">
				{$label tbl_coordenador nomeCurso}
			</div>
			<div class="col-md-2" >
				{$searchtype_nomeCurso}
			</div>
			<div class="col-md-4" >
				{$nomeCurso_editcontrol}
			</div>
			<div class="col-md-4" >
				{$nomeCurso_editcontrol1}
			</div>
		</div>
	</div>
{END nomeCurso_fieldblock}
	{BEGIN cidade_fieldblock}		
	<div class="container {$fielddispclass_cidade}" data-fieldname="cidade">
		<div class="form-group">
			<div class="col-md-2">
				{$label tbl_coordenador cidade}
			</div>
			<div class="col-md-2" >
				{$searchtype_cidade}
			</div>
			<div class="col-md-4" >
				{$cidade_editcontrol}
			</div>
			<div class="col-md-4" >
				{$cidade_editcontrol1}
			</div>
		</div>
	</div>
{END cidade_fieldblock}
	{BEGIN idCoordenador_fieldblock}		
	<div class="container {$fielddispclass_idCoordenador}" data-fieldname="idCoordenador">
		<div class="form-group">
			<div class="col-md-2">
				{$label tbl_coordenador idCoordenador}
			</div>
			<div class="col-md-2" >
				{$searchtype_idCoordenador}
			</div>
			<div class="col-md-4" >
				{$idCoordenador_editcontrol}
			</div>
			<div class="col-md-4" >
				{$idCoordenador_editcontrol1}
			</div>
		</div>
	</div>
{END idCoordenador_fieldblock}
	{BEGIN nomeCoordenador_fieldblock}		
	<div class="container {$fielddispclass_nomeCoordenador}" data-fieldname="nomeCoordenador">
		<div class="form-group">
			<div class="col-md-2">
				{$label tbl_coordenador nomeCoordenador}
			</div>
			<div class="col-md-2" >
				{$searchtype_nomeCoordenador}
			</div>
			<div class="col-md-4" >
				{$nomeCoordenador_editcontrol}
			</div>
			<div class="col-md-4" >
				{$nomeCoordenador_editcontrol1}
			</div>
		</div>
	</div>
{END nomeCoordenador_fieldblock}
	{BEGIN cursoCoordenador_fieldblock}		
	<div class="container {$fielddispclass_cursoCoordenador}" data-fieldname="cursoCoordenador">
		<div class="form-group">
			<div class="col-md-2">
				{$label tbl_coordenador cursoCoordenador}
			</div>
			<div class="col-md-2" >
				{$searchtype_cursoCoordenador}
			</div>
			<div class="col-md-4" >
				{$cursoCoordenador_editcontrol}
			</div>
			<div class="col-md-4" >
				{$cursoCoordenador_editcontrol1}
			</div>
		</div>
	</div>
{END cursoCoordenador_fieldblock}
	{BEGIN idCurso_fieldblock}		
	<div class="container {$fielddispclass_idCurso}" data-fieldname="idCurso">
		<div class="form-group">
			<div class="col-md-2">
				{$label tbl_coordenador idCurso}
			</div>
			<div class="col-md-2" >
				{$searchtype_idCurso}
			</div>
			<div class="col-md-4" >
				{$idCurso_editcontrol}
			</div>
			<div class="col-md-4" >
				{$idCurso_editcontrol1}
			</div>
		</div>
	</div>
{END idCurso_fieldblock}
</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-3 col-md-offset-4"> 

{BEGIN searchbuttons}
{BEGIN search_button}
<button class="btn btn-primary" {$searchbutton_attrs}>Buscar</button>
{END search_button} 
{BEGIN reset_button}
<button class="btn btn-default" {$resetbutton_attrs}>Limpar</button>
{END reset_button}
{BEGIN back_button}
<button class="btn btn-default" {$backbutton_attrs}>Voltar à Lista</button>
{END back_button}
{END searchbuttons}



</div>
{END container_leftbuttons}






</div>
{END container_bottombuttons}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
